* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a {
  background-image: linear-gradient(
    to right,
    #0a1ceb,
    #55eb0f 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background: #68f30c;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}
  
 
  

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.kn {
    display: none;
}

.menu {
    background: #222222;
}

.logo {
    padding-left: 120px;
    padding-right: 21px;
    padding-top: 18px;
    padding-bottom: 19px;
}

.poisk {
    padding-right: 600px;
    padding-top: 28.21px;
    padding-bottom: 20px;
}

.tablo {
    padding-right: 120px;
    padding-top: 26px;
    padding-bottom: 20px;
}


.second_blok {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;


}

.right_second_blok {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b_men {
    max-width: 100%;
    min-height: 100%;
}


.text {
    padding-left: 16px;
    max-width: 70%;
}

.podmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;


}


.podmenu1 {
    background: rgba(0, 0, 0, .65) url("img/kartinka1.png");
    background-blend-mode: darken;
}

.nadpis1 {
    padding: 105px 103px;
}

.podmenu2 {
    background: rgba(0, 0, 0, .65) url("img/kartinka2.png");
    background-blend-mode: darken;
}

.nadpis2 {
    padding: 105px 103px;
}

.podmenu3 {
    background: rgba(0, 0, 0, .65) url("img/kartinka3.png");
    background-blend-mode: darken;
}

.nadpis3 {
    padding: 105px 103px;
}

.podmenu4 {
    background: rgba(0, 0, 0, .65) url("img/kartinka4.png");
    background-blend-mode: darken;
    flex-grow: 1;
}

.nadpis4 {
    padding: 65px 490px;
}

.endblok {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 30px;
}

.htext {
    margin-top: 96px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
}

.hh3 {
    color: #222;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.pp {
    color: #9F9F9F;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.end_text1 {
    display: flex;
    width: 360px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    background: #F8F8F8;
}

.xt {
    margin-top: 25px;
}

.price1 {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h3e {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pe1 {
    color: #5D5D5D;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price1 {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kart6 {

    background: #F7E4E2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.knop {
    color: #F26376;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
}

.ssilka {
    background: url(img/knopka.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 390px;
}

.sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222224;
    margin-top: 60px;
}

.fs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.h3f {
    color: #FBFBFB;
    font-family: 'Lato', sans-serif;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
    padding-bottom: 16px;
}

.pf {
    color: #FBFBFB;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.imm {
    width: 46px;
    height: 32px;
}

.sec2 {
    background: rgba(244, 244, 244, 0.70) url(image_footer/bag.png);
    background-blend-mode: lighten;
    /* background-repeat: no-repeat;
    background-position: center center; */
    height: 448px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.lk {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rela {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 356px;
}

.emm {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.em {
    padding-left: 106px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.ap1 {
    color: #222224;
    text-align: center;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
}

.spa {
    color: #222224;
    font-family: 'Lato';
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.art2 {
    padding-top: 39px;
}

.sub {
    color: #222224;
    text-align: center;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.span {
    color: #222224;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}


.sec3 {
    background: #222224;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around
}

.left_d {
    color: #FBFBFB;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.right_d {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.all {
    background: #FFF;
    margin-right: 7px;
    margin-top: 23px;
    margin-bottom: 23px;
    padding: 8px;
}


.all img {
    width: 16px;
    height: 17px;
}

.all{
    transition: color .3s ease-in-out,  .3s ease-in-out;
}

.all:hover{
    color: #fff;
    box-shadow: inset 400px 0 0 0 #d65495;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .kn {
        display: none;
    }

    .logo {
        padding-left: 32px;
    }

    .poisk {
        padding-right: 424px;
        padding-bottom: 20px;
    }

    .tablo {
        padding-right: 17px;
        padding-top: 26px;
        padding-bottom: 18px;
    }

    .second_blok {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 65px;
    }


    .poloska {
        padding-left: 39px;
        padding-top: 125px;
        padding-bottom: 137px;
    }

    .text {
        padding-top: 139px;
        padding-bottom: 152px;
        padding-left: 16px;
        width: 283px;

    }

    .right_second_blok {
        display: flex;
        flex-direction: row;
    }


    .b_men {
        max-width: 100%;
        min-height: 100%;
    }

    .podmenu {
        gap: 10px;
    }

    .podmenu1 {
        background: rgba(0, 0, 0, .65) url("img/menshe1.png");
    }

    .nadpis1 {
        padding: 59px 58px 58px 38px;
    }

    .nadpisi {
        padding: 60px;
    }

    .podmenu2 {
        background: rgba(0, 0, 0, .65) url("img/me2.png");
    }

    .podmenu3 {
        background: rgba(0, 0, 0, .65) url("img/me3.png");
    }

    .podmenu4 {
        background: rgba(0, 0, 0, .65) url("img/me4.png");
    }

    .nadpis4 {
        padding: 33px 287px;
    }

    .htext {
        margin-top: 90px;
    }

    .endblok {
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }

    .ssilka {
        background-image: url(img/knopka.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 70px 260px;
    }

    .sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #222224;
        height: 610px;
    }

    .fs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    padding-bottom: 0;
    }

    .sec2 {
        background: rgba(244, 244, 244, 0.70) url(image_footer/Layer\ 41.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 690px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .art2{
        padding-top: 0;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .center {
        padding-left: calc(50% - 152px);
        padding-right: calc(50% - 152px);
    }


    .logo {
        padding-left: 16px;
    }

    .poisk {
        padding-right: 130px;
        padding-bottom: 20px;
    }

    .tablo {
        display: none;
        ;
    }

    .kn {
        display: inline;
        padding-right: 16px;
        padding-top: 26px;
        padding-bottom: 20px;
    }

    .left_second_blok {
        display: none;
    }

    .second_blok {
        grid-template-columns: auto;
        justify-content: center;

    }

    .poloska {
        height: 70px;
    }

    .text {
        padding-top: 149px;
        padding-bottom: 152px;
        padding-left: 16px;
        width: 300px;

    }

    .podmenu {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .podmenu1 {
        display: flex;
        justify-content: center;
    }

    .podmenu4 {
        background: rgba(0, 0, 0, .65) url("img-mobile/Layer.png");
        display: flex;
        justify-content: center;
    }

    .nadpis4 {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pp {
        white-space: nowrap;
        font-size: 12px;
    }

    .endblok {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .k55 {
        width: 304px;
    }

    .ssilka {
        margin-top: 41px;
        margin-bottom: 85px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #222224;
        height: 610px;
    }

    .fs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    padding-bottom: 0;
    }

    .sec2 {
        background: rgba(244, 244, 244, 0.70) url(image_footer/Layer\ 41.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 690px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .art2{
        padding-top: 0;
    }

    .sec3{
        flex-direction: column;
        align-items: center;
    
    }

    .right_d{
        order: -1;
    }

    .lk1 {
        width: 220px;
    }

    .lk2 {
        width: 80px;
    }
    

    .rela{
        width: 279px;
    }
}



