* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.kn{
    display: none;
}

.menu {
    background: #222222;
}

.logo {
    padding-left: 120px;
    padding-right: 21px;
    padding-top: 18px;
    padding-bottom: 19px;
}

.poisk {
    padding-right: 600px;
    padding-top: 28.21px;
    padding-bottom: 20px;
}

.tablo {
    padding-right: 120px;
    padding-top: 26px;
    padding-bottom: 20px;
}


.second_blok {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;
    
    
}

.right_second_blok{
    display: flex;
    align-items: center;
    justify-content: center;
}

.b_men {
    max-width: 100%;
    min-height: 100%;
}


.text {
    padding-left: 16px;
    max-width: 70%;
}

.podmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;


}


.podmenu1 {
    background: rgba(0, 0, 0, .65) url("img/kartinka1.png");
    background-blend-mode: darken;
}

.nadpis1 {
    padding: 105px 103px;
}

.podmenu2 {
    background: rgba(0, 0, 0, .65) url("img/kartinka2.png");
    background-blend-mode: darken;
}

.nadpis2 {
    padding: 105px 103px;
}

.podmenu3 {
    background: rgba(0, 0, 0, .65) url("img/kartinka3.png");
    background-blend-mode: darken;
}

.nadpis3 {
    padding: 105px 103px;
}

.podmenu4 {
    background: rgba(0, 0, 0, .65) url("img/kartinka4.png");
    background-blend-mode: darken;
    flex-grow: 1;
}

.nadpis4 {
    padding: 65px 490px;
}

.endblok {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
    gap: 30px;
}

.htext {
    margin-top: 96px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
}

.hh3 {
    color: #222;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.pp {
    color: #9F9F9F;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.end_text1 {
    display: flex;
    width: 360px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    background: #F8F8F8;
}

.xt {
    margin-top: 25px;
}

.price1 {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h3e {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pe1 {
    color: #5D5D5D;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price1 {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kart6 {

    background: #F7E4E2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.knop {
    color: #F26376;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
}

.ssilka {
    background-image: url(img/knopka.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 390px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .kn{
        display: none;
    }

    .logo {
        padding-left: 32px;
    }

    .poisk {
        padding-right: 424px;
        padding-bottom: 20px;
    }

    .tablo {
        padding-right: 17px;
        padding-top: 26px;
        padding-bottom: 18px;
    }

    .second_blok {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 65px;
    }


    .poloska {
        padding-left: 39px;
        padding-top: 125px;
        padding-bottom: 137px;
    }

    .text {
        padding-top: 139px;
        padding-bottom: 152px;
        padding-left: 16px;
        width: 283px;

    }

    .right_second_blok {
        display: flex;
        flex-direction: row;
    }


    .b_men {
        max-width: 100%;
        min-height: 100%;
    }

    .podmenu{
        gap: 10px;
    }

    .podmenu1 {
        background: rgba(0, 0, 0, .65) url("img/menshe1.png");
    }

    .nadpis1 {
        padding: 59px 58px 58px 38px;
    }

    .nadpisi {
        padding: 60px;
    }

    .podmenu2 {
        background: rgba(0, 0, 0, .65) url("img/me2.png");
    }

    .podmenu3 {
        background: rgba(0, 0, 0, .65) url("img/me3.png");
    }

    .podmenu4 {
        background: rgba(0, 0, 0, .65) url("img/me4.png");
    }

    .nadpis4 {
        padding: 33px 287px;
    }

    .htext {
        margin-top: 90px;
    }

    .endblok {
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
    }

    .ssilka {
        background-image: url(img/knopka.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 70px 260px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .center {
        padding-left: calc(50% - 152px);
        padding-right: calc(50% - 152px);
    }


    .logo {
        padding-left: 16px;
    }

    .poisk {
        padding-right: 130px;
        padding-bottom: 20px;
    }

    .tablo{
        display: none;;
    }

    .kn{
        display: inline;
        padding-right: 16px;
        padding-top: 26px;
        padding-bottom: 20px;
    }

    .left_second_blok{
        display: none;
    }

    .second_blok{
        grid-template-columns: auto;
        justify-content: center;

    }

    .poloska {
       height: 70px;
    }

    .text {
        padding-top: 149px;
        padding-bottom: 152px;
        padding-left: 16px;
        width: 300px;
        
}

    .podmenu{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .podmenu1{
        display: flex;
       justify-content: center;
    }

    .podmenu4 {
        background: rgba(0, 0, 0, .65) url("img-mobile/Layer.png");
        display: flex;
        justify-content: center;
    }

    .nadpis4{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

   .pp{
    white-space: nowrap;
   }
   

}