@import '../katalog1/vars';

a:hover {
    background: rgba(0, 0, 0, 0);
    color: red;
    box-shadow: inset 400px 0 0 0 #d65495;
}

a {
    transition: color .3s ease-in-out, 1.5s ease-in-out;
}

button:hover {
    background: rgba(0, 0, 0, 0);
    color: red;
    box-shadow: inset 400px 0 0 0 #d65495;
}

button {
    transition: color .3s ease-in-out, 1.5s ease-in-out;
}



.podmenu_katalog {
    margin-bottom: 96px;
}

.main_korzina {
    display: flex;
    gap: 128px;
    padding-bottom: 128px;
}



.main_korzina_left_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    background: #FFF;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 40px;

    &_h3 {
        padding-top: 22px;
        padding-bottom: 42px;
        color: #222;
        font-family: 'Lato';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .allpleft1 {
        color: #6F6E6E;
        font-family: 'Lato';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 6px;
    }

    &_p1_span {
        color: #EF5B70;
        font-family: 'Lato';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    &_p2 {
        padding-right: 237px;
    }

    &_p4_span2 {
        color: #656565;
        font-family: 'Lato';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid #EAEAEA;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 24px;
    }

    &_krestik_div {
        margin-top: 28px;
        margin-right: 22px;
    }

    &_knopki_div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 72px;
    }

    &_knopki_ssilca {
        display: block;
    }

    &_knopki {
        border: 1px solid #A4A4A4;
        padding: 17px 41px;
        color: #000;
        font-family: 'Lato';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }



}

.main_korzina_right {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    &_vvod {
        margin-bottom: 57px;
    }


    form {
        display: flex;
        flex-direction: column;

    }

    input::placeholder {
        color: #B1B1B1;
        font-family: 'Lato';
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }


    &_vvod_h3 {
        color: #222;
        font-family: 'Lato';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 20px;
    }

    &_vvod_input {
        padding-top: 12px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-right: 127px;
        margin-bottom: 21px;
        border-color: #A4A4A4;
        border-width: 1px;
        border-style: solid;
    }

    &_vvod_input2 {
        padding-top: 12px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-right: 127px;
        margin-bottom: 21px;
        border-color: #A4A4A4;
        border-width: 1px;
        border-style: solid;
    }


    .button_korzina {
        color: #4A4A4A;
        font-family: 'Lato';
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 10px 15px;
        background-color: #FFFFFF;
        margin-right: 215px;
        border-color: #A4A4A4;
        border-style: solid;
        border-width: 1px;

    }

    &_GRAND {
        background-color: #F5F3F3;
    }


    &_GRAND_h3 {
        color: #4A4A4A;
        font-family: 'Lato';
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 40px;
        margin-bottom: 12px;
        margin-left: 175px;
        margin-right: 34px;
    }

    &_GRAND_h2_span {
        padding-left: 20px;
    }

    &_GRAND_h2 {
        color: #222;
        font-family: 'Lato';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 21px;
        margin-left: 110px;

    }

    &_GRAND_h2_span2 {
        color: #F16D7F;
        font-family: 'Lato';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 37px;
        padding-left: 20px;
    }

    &_GRAND_hr {
        height: 1px;
        background-color: #E2E2E2;
        border: none;
        margin-bottom: 17px;
        margin-right: 42px;
        margin-left: 42px;
        align-content: center;
    }

    &_GRAND_h1 {
        border: 1px solid #F16D7F;
        background-color: #F16D7F;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 58px;
        margin-left: 43px;
        margin-right: 43px;
    }


    .main_korzina_right_GRAND_h1:hover {
        background: rgba(0, 0, 0, 0);
        color: red;
        box-shadow: inset 400px 0 0 0 #f1ebee;
    }

    .main_korzina_right_GRAND_h1 {
        transition:
            color .3s ease-in-out,
            .5s ease-in-out;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .main_korzina {
        flex-direction: column;

        &_left_1_knopki_div {
            justify-content: center;
            gap: 48px;
        }

        &_right {
            flex-direction: row;
            justify-content: space-around;
        }

        &_right_vvod{
            margin-bottom: unset;
        }

    }


}