@mixin flex_center_space_betw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@mixin flex_center_center_column {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@mixin flex_center_row {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}